@import './themes/lumen/variables';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import './themes/lumen/bootswatch';

html,
body,
#root {
  height: 100%;
}

body {
  padding-top: $navbar-height;
}

#root {
  display: flex;
  flex-direction: column;
}
